* {
            box-sizing: border-box;
            margin: 0;
            outline: none;
            padding: 0;
            align-items: center;
            justify-content: center;
            filter: drop-shadow(0px 0px 15px rgba(60,60,60,0.6));
        }
      body {
            width: 100vw;
            height: 100vh;
            border: none;
            display: flex;
            background-color: #2E3D43;
        }

        #app {
            width: 51vw;
aspect-ratio:1/1;
            padding: 2.1vw;
            border: solid 1px black;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
            background-color: #435761;
            border-radius: 3vw;
gap: 1vw;
        }

        button {
            width: 12vw;
            aspect-ratio: 1/1;
            cursor: pointer;
            border: solid 1px black;
            font-weight: bold;
            opacity: 0.51;
            border-radius: 12px;
            font-size: 3vw;
color: #38B2AC;
    text-shadow:0 0 0.9px #000;
        }

        button:hover,
        button:focus {
            opacity: 1;
            border: none;
        }

button.loading {
    background: #ccc !important;
    cursor: not-allowed;
    opacity: 0.7;
}

button.ready {
    opacity: 1;
    cursor: pointer;
    transition: 0.2s;
}

@media (max-width: 920px) and (orientation: portrait) {
    #app {
        width: 96vw;
        padding: 1.9vw;
    }
button {
width: 27vw;
font-size: 6vw;
}
}