* {
            box-sizing: border-box;
            margin: 0;
            outline: none;
            padding: 0;
            align-items: center;
            justify-content: center;
            filter: drop-shadow(0px 0px 15px rgba(60,60,60,0.6));
        }
      body {
            width: 100vw;
            height: 100vh;
            border: none;
            display: flex;
            background-color: #2E3D43;
        }

        #app {
            width: 51vw;
            padding: 2.1vw;
            border: solid 1px black;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
            background-color: #435761;
            border-radius: 3vw;
        }

        button {
            width: 12vw;
            height: 12vw;
            margin: 1vw;
            cursor: pointer;
            border: solid 1px black;
            font-weight: bold;
            opacity: 0.51;
            border-radius: 12px;
            font-size: 3vw;
color:#fff;
        }

        button:hover,
        button:focus {
            opacity: 1;
            border: none;
        }

button.loading {
    background: #ccc !important;
    cursor: not-allowed;
    opacity: 0.7;
}

button.ready {
    opacity: 1;
    cursor: pointer;
    transition: 0.2s;
}

@media screen and (max-width=767){
@media screen and (orientation=portrait){
#app{
width:99vw;
padding:1vw;
}
}}
}